*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:silver;
}


/*Game container*/
#game-container{
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Game border*/
/*background image*/
#game-border{
min-width: 1000px;
background-image:url('./media/wooden.webp');
background-repeat: none;
background-size:cover;
height:66%;
/* background-color: rgb(139, 104, 57);
background-blend-mode:luminosity; */
width:90%;
margin:0 auto;
border:4px solid #333;
border-radius: 50px;
display:flex;
flex-direction: column-reverse;
justify-content: center;
overflow:hidden;
gap: 5rem;
position:relative;
}
/* Divider */
#divider{
    transform: rotate(90deg);
    border:2px solid rgb(250, 242, 196);
    background: goldenrod
}
/* Player side */
.playerside{
width: 100%;
display:flex;
justify-content: center;
align-items: center;
}
#player-side2{
    flex-direction: row-reverse;
}
.goal{
    position:absolute;
    
}
/* holes */
.hole{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin:0 1.25rem;
    transition:.3s;
    box-shadow: inset 0 0 18px 2px #333;
    position:relative;
}
.hole:hover{
   cursor:pointer;
   transition:.3s;
   box-shadow: inset 0 0 18px 2px rgb(33, 228, 7);
}
/*pebbles*/
.pebble{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position:absolute;
    border:2px solid #333;
    transition:.5s;
}
/*player goals*/
.goal{
    height:80%;
    width: 100px;
    border-radius: 12px;
    box-shadow: inset 0 0 16px .5px #333;
    position:absolute;
    pointer-events: none;
}
#player-1{
    right:15px;
}
#player-2{
    left:15px;
}
/*identifying spaces for player 1 & 2*/
span{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


